<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À Faire</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script id="__bs_script__" src='./../../config/browser-sync/sync_gc7.js'></script>
    <link rel="stylesheet" href="./../../resources/assets/css/styles.css">
  </head>

  <body>
    
    {% block nav %}
    {% endblock %}

    {% block content %}
    {% endblock %}

  </body>

</html>
