{% extends 'layouts/base.twig' %}

{% block nav %}

<div class="flex w-full justify-between p-5 text-3xl">

<a href='/'><em class="fa fa-home "></em></a>

  <div class=" flex "> 
    <a href="login">Login</a> <div>|</div>  
    <a href="register">Register</a>
  </div>

</div>

{% endblock %}

{% block content %}

<h1 class="text-blue-500 text-center text-4xl">index</h1>

<img src="./resources/assets/img/FoxyModel.png" alt="FoxyModel" width="500" class="flex mx-auto mt-5">
{% endblock %}
