{% extends 'layouts/base.twig' %}

{% block nav %}

<div class="flex w-full justify-between p-5 text-3xl">

<a href='/'><em class="fa fa-home "></em></a>

  <div class=" flex "> 
    <a href="login">Login</a> <div>|</div>  
    <a href="register">Register</a>
  </div>

</div>

{% endblock %}

{% block content %}

<h1 class="text-blue-500 text-center text-4xl">Register</h1>


<div class="field">
  <label class="label">Username</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" type="text" placeholder="Text input" name="username" value="bulma">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
  <p class="help is-success">This username is available</p>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
  <p class="help is-danger">This email is invalid</p>
</div>

<div class="field">
  <label class="label">Password</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-danger" type="password" placeholder="Password input" value="hello@">
    <span class="icon is-small is-left">
      <i class="fas fa-key"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
  <p class="help is-danger">This password is invalid</p>
</div>

<div class="field">
  <label class="label">Password confirmation</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-danger" type="password" placeholder="Password input" value="hello@">
    <span class="icon is-small is-left">
      <i class="fas fa-key"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
  <p class="help is-danger">This password is invalid</p>
</div>



<div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox" checked>
      I agree to the <a href="#">terms and conditions</a>
    </label>
  </div>
</div>



<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
  <div class="control">
    <button class="button is-link is-light">Cancel</button>
  </div>
</div>

{% endblock %}
